acme==5.7.0
boto3==1.43.69
botocore==1.43.69
certbot==5.7.0
certbot-dns-route53==5.7.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
configargparse==1.7.5
configobj==5.0.9
cryptography==50.0.0
distro==1.9.0
hvac==2.4.0
idna==3.18
jmespath==1.1.0
josepy==2.2.0
parsedatetime==2.6
pycparser==3.0
pyopenssl==26.4.0
pyrfc3339==2.1.0
python-dateutil==2.9.0.post0
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
typing-extensions==4.16.0
urllib3==2.7.0
